name: publish
on: [push]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Build container
        run: |
          docker login -u jonathanearl-tylertech -p "$GITHUB_TOKEN" ghcr.io/jonathanearl-tylertech/dash
          make build
          make publish